

@font-face {
  font-family: 'boldbold';
  src: url('/src/Fonts/cunia-webfont.woff2') format('woff2'),
       url('/src/Fonts/cunia-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'modern_sansregular';
  src: url('/src/Fonts/moderne_sans_font-webfont.woff2') format('woff2'),
       url('/src/Fonts/moderne_sans_font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body,html {
  height: 100%;
  margin: 0;
  font-family: 'boldbold'!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 14%, rgba(12,25,28,1) 90%, rgba(19,108,49,1) 100%) scroll; 
}




